<p style="color: green"><%= notice %></p>

<h1>Customer Schedule</h1>

<div id="customers">
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Time</th>
        <th scope="col">Cuisine</th>
        <th scope="col">Meal</th>
        <th scope="col">Price</th>
        <th scope="col">Max Number</th>
        <th scope="col">Booked Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <%= render customer %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add New Meal to Schedule", new_customer_path, class: "btn btn-success" %>
